.sutdentProfile {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.studentNameTitle {
    justify-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    padding: 20px;
}

.studentNameTitle > span {
    color: var(--secondary-color);
    font-size: 20px;
}

.studentNameTitle > span span {
    font-size: large;
    color: #000;
}

.routeSection {
    background-color: var(--primary-color);
    margin-top: 0px;
    margin-bottom: 5px;
    height: 75vh;
}

.studentInfoData {
    justify-content: center;
}

.studentMessageList {   
    border: 0.5px solid var(--border-color);
    border-radius: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.messgListTitle {
    text-align: center;
    margin-top: 10px;
}