.sutdentProfile {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.studentNameTitle {
    justify-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.studentNameTitle > span {
    color: var(--secondary-color);
    font-size: 20px;
}

.studentNameTitle > span span {
    font-size: large;
    color: #000;
}

.routeSection {
    background-color: var(--primary-color);
    height: 84vh;
}

.studentInfoData {
    justify-content: center;
}

.mapSpliter {
    background-color: var(--primary-color);
    height: 5vh;
}

.messgListTitle {
    border-bottom: 1px solid #C2C2C2;
    background-color: var(--primary-color);
    color: #FFF;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 100%;
}

.studentMessageList {   
    border-radius: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
