.formBody {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.infoHelp {
    align-self: center;
    display: flex;
    height: 100%;
    margin: 45px 0px;
}

.formClientCard, .formEditClient {
    display: flex;
    padding: 25px;
}

.formClient {
    align-items: center;
    justify-content: center;
}   

.formEdit {
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.formCreateClient {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 70vh
}

.formCreateClient > .formClientNameInput {
    margin-right: 0px;
}

.formCreateClient button {
    margin-top: 20px;
}
    

.formClientNameInput {
    border-radius: 10px;
    border: 1px solid var(--border-color);
    margin-right: 20px;
    font-size: 2rem;
    padding: 10px;
}

.formButton {
    align-self: center;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 3rem;
    padding: 5px 10px;
    margin: 0px;
}

.formButton:hover {
    animation: Light 0.2s;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .formEdit {
        flex-direction: column;
    }
    .formClientNameInput {
        font-size: 2rem;
    }
    .formButton {
        margin-top: 20px;
    }
}