.emptyBlockBody {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    margin: 50px auto;
    width: 50%;
}

.emptyImage {
    align-self: center;
    margin-top: 10px;
}

@media screen and (max-width: 640px) {
    .emptyImage {
        display: flex;
        width: 420px;
    }
}