.mapBlock {
    display: flex;
    height: 100%;
}

.mapZone {
    height: var(--body-height);
    width: 100%;
}

.markMenu {
    background-color: var(--primary-color);
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 50px;
    position: absolute;
    right: 0;
}

.addIcon, .deleteIcon, .saveIcon {
    font-size: 50px;
}

.selectedButton:hover, .addMarkerButton, .deleteMarkerButton, .saveButton {
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 25px;
}

.deleteMarkerButton {
    margin-left: 20px;
}

.selectedButton, .addMarkerButton:hover, .deleteMarkerButton:hover, .saveButton:hover  {
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    cursor: pointer;
    color: var(--primary-color);  
}

.saveButton {
    border-radius: 10px;
    margin-top: 20px;
    padding: 3px;
    width: 100%;
}

.disabled, .disabled:hover {
    border: 2px solid var(--border-color);
    background-color: var(--border-color);
    color: var(--secondary-color);
    cursor: not-allowed;
}

.addMarkerButton:hover, .deleteMarkerButton:hover {
    animation: Reverse-Regular 0.3s;
}

.selectedButton:hover {
    animation: none;
}

@media screen and (max-width: 900px) {
    .mapBlock {
        flex-direction: column;
    }

    .markMenu {
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 0px;
        position: static;
    }

    .addDeleteSection {
        align-self: center;
        justify-items: center;
        display: flex;
        flex-wrap: wrap;
    }   

    .markerListButton, .addMarkerButton, .deleteMarkerButton {
        margin-left: 10px;
        margin-right: 10px;
    }

    .addMarkerButton, .deleteMarkerButton {
        padding: 10px;
    }

    .saveButton {
        padding: 5px;
     }

    .addIcon, .deleteIcon, .saveIcon {
        font-size: 35px;
    }

    .selectedButton:hover, .addMarkerButton, .deleteMarkerButton {
        padding: 10px;
    }

}
