.messageFormBody {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 80vh;
    width: 100%;
}

.messageForm {
    align-items: start;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.messageRow {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    width: 100%;
}

.messageRow > span {
    font-size: 1.5rem;
    padding: 20px;
}

.messageRow > input {
    border-radius: 10px;
    border: 1px solid var(--border-color);
    font-size: 1.5rem;
    padding: 20px;
}

.messageRow > input:disabled {
    color: var(--border-color);
    background-color: #C2C2C2;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    font-size: 1.5rem;
    padding: 20px;
}

.messageRow > .select {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.messageRow > button {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 20px;
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
}

.messageRow > button:hover {
    animation: Light 0.3s;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    border-radius: 20px;
    font-size: 2rem;
    padding: 15px;
}

.messageRow > .disabled, .messageRow > .disabled:hover {
    animation: none;
    border: 1px solid var(--border-color);
    background-color: var(--border-color);
    color: #FFF;
    cursor: not-allowed;
}