.headerBody {
    align-items: center;
    display: flex;
    
    background-color: var(--primary-color);
    padding: 5px 0px;
    height: var(--header-height);
}

.leftIcon {
    display: flex;
    align-items: center;
}

.headerIcon {
    margin: 0px 10px;
    height: 45px;
    width: 50px;
}

.headerIconText {
    display: none;
}

.headerButton {
    border: none;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: var(--header-font-size);
    padding: 10px 15px;
}

.headerButton:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    animation: Light 0.2s;
}

.headerButton.current {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    animation: none ;
}

.buttonPanel {
    margin-left: 20px;
    flex: 6;
}

.buttonPanel > .headerButton {
    margin-right: 20px;
}

.buttonPanel:last-of-type {
    margin-right: 20px;
}

 .developerBlock {
    align-self: flex-end;
    align-items: flex-end;
    display: flex;
    margin: 0px 20px;
}

.developerLogo {
    width: 100px;
}

.developerBlock > span {
    font-size: 0.7rem;
    margin-bottom: 0.330rem;
    margin-right: 0.2rem;
}

@media screen and (max-width: 900px) {
    .headerBody .buttonPanel {
        display: none;
    }
    .headerIconText {
        color: var(--secondary-color);
        display: inline;
        font-weight: bold;
        justify-self: center;
        text-decoration: none;
    }
    .developerBlock {
        position: absolute;
        right: 0;
    }
}

@media screen and (max-width: 1740px) {
    .headerBody {
        height: 7vh;
    }
}

@media screen and (max-height: 645px) {
    .headerBody {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}