.footerBlock {
    align-self: flex-end;
    align-items: center;
    bottom: 0;
    border-top: 2px solid var(--primary-color);
    display: flex;
    flex-direction: row;
    padding-left: 0.8rem;
    padding-top: 0.9rem;
    padding-bottom: 0.8rem;
    width: 100%;
    position: absolute;
}

.companyBlock, .developerBlock {
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
}

.developerBlock {
    margin-left: 20px;
}

.companyBlock > img.companyLogo {
    height: 60px;
}

.developerBlock > span {
    font-size: 0.7rem;
    margin-bottom: 0.330rem;
    margin-right: 0.2rem;
}


.developerBlock > img.developerLogo {
    height: 30px;
}