.footerBlock {
    align-self: flex-end;
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: row;
    margin-left: 0.8rem;
    position: absolute;
}

.footerBlock > span {
    font-weight: bold;
    margin-top: 0.8rem;
    margin-right: 0.20rem;
}

.footerBlock > img.companyLogo {
    width: 155px;
    height: 60px;
}