.messageCardBody {
    align-items: center;
    border-radius: 20px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    height: 245px;
    margin: 20px;
    padding: 20px;
    width: 200px;
}

.messageCardBody > h3 {
    border-bottom: 1px solid #FFF;
    padding-bottom: 10px;
    text-align: center;
    width: 80%;
}

.warningBody {
    background: linear-gradient(to bottom right,  orange 35%, rgb(252, 227, 0), rgb(255, 252, 77) );
}

.seriousBody {
    background: linear-gradient(to bottom, #FF0000 50%, rgb(255, 84, 84), rgb(255, 166, 166));
}

.confirmBody {
    background: linear-gradient(to bottom right, #148514 30%, rgb(35, 185, 48), rgb(49, 255, 49));
}

.infoBody {
    background: linear-gradient(to bottom right, #0915b3 30%, rgb(20, 86, 185), rgb(49, 162, 255));
}

.messageBody {
    display: flex;
    align-items: center;
    height: 100%;
}