.messageCardBody {
    align-items: center;
    border-radius: 20px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    height: 200px;
    margin: 20px;
    padding: 20px;
    width: 200px;
}

.messageCardBody > h3 {
    border-bottom: 1px solid #FFF;
    padding-bottom: 10px;
    text-align: center;
    width: 80%;
}

.messageBody {
    text-align: center; 
    display: flex;
    align-items: center;
    height: 100%;
}

.warningBody {
    background: linear-gradient(to bottom,  rgb(218, 141, 0) 50%, rgb(255, 196, 86),rgb(202, 164, 92) );
}

.seriousBody {
    background: linear-gradient(to bottom, #FF0000 50%, rgb(255, 84, 84), rgb(255, 166, 166));
}

.confirmBody {
    background: linear-gradient(to bottom, #148514 50%, rgb(35, 185, 48), rgb(49, 255, 49));
}

.infoBody {
    background: linear-gradient(to bottom, #0915b3 50%, rgb(20, 86, 185), rgb(49, 162, 255));
}

.customBody {
    background: linear-gradient(to bottom, #d400ff 60%, rgb(236, 65, 255), rgb(240, 124, 255));
}