.stopCardBody {
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    padding: 20px;
}

.arrowStop {
    display: block;
    align-self: center;
    margin: 0px;
}

.stopCardInfoTitle {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 10px;
}

.stopCardInfo {
    margin: 15px 0px;
}

.stopIcon {
    font-size: 80px;
    margin-right: 20px;
}

@media screen and (max-width: 1200px) {
    .stopCardInfo {
        font-size: 20px;
    }
}