* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #DB2600;
    --secondary-color: #FFF;
    --ternary-color: #495057;
    --border-color: #787878;
    --focus-color: #FF785C;
    --shadow-color: #DB2600BF;
    --general-font-family: 'Roboto', sans-serif;
    --header-font-size: 1.10rem;
    --normal-font-size: 0.9rem;
    --main-font-size: 1rem;
    --form-font-size: 1.25rem;
    --secondary-font-size: 0.850rem;
  }

html {
    font-family: var(--general-font-family);
}

.link {
    color: var(--primary-color);
    font-size: var(--main-font-size);
    text-decoration: none;
}