* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
}

:root {
    --primary-color: #DB2600;
    --secondary-color: #FFF;
    --ternary-color: #495057;
    --border-color: #787878;
    --hover-dark: #000;
    --focus-color: #FF785C;
    --shadow-color: #DB2600BF;
    --company-color: #39C3fE;
    --company-dark-color: #2049ff;
    --background-noLoad-color: #CD3A3A;

    --general-font-family: 'Roboto', sans-serif;
    --button-font-style: 'Roboto', sans-serif;   
    
    --button-font-size: 2.5rem; 
    --icon-font-size: 2rem;      
    --header-font-size: 1.10rem;
    --normal-font-size: 0.9rem;
    --main-font-size: 1rem;
    --form-font-size: 1.1rem;
    --secondary-font-size: 0.850rem;
    --form-title: 2.2rem;

    --header-height: 5vh;
    --body-height: 95vh;
}

html {
    font-family: var(--general-font-family);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--secondary-color);
    box-shadow: inset 0 0 2px var(--hover-dark); 
}

body::-webkit-scrollbar-thumb {
    background: var(--focus-color);
    border-radius: 10px;    
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--company-color);
}

.link {
    color: var(--primary-color);
    font-size: var(--main-font-size);
    text-decoration: none;
}

.darkLink {
    color: var(--hover-dark);
    text-decoration: none;
}

.center {
    text-align: center;
}

@keyframes Warning {
    0% {
        color: var(--primary-color);
        background-color: var(--primary-color);
    }
    100% {
        color: var(--primary-color);
        background-color: var(--secondary-color);
    }
}

@keyframes Light {
    0% {
        color: var(--secondary-color);
        background-color: var(--primary-color);
    }
    100% {
        color: var(--primary-color);
        background-color: var(--secondary-color);
    }
}

@keyframes Border-Light {
    0% {
        color: var(--secondary-color);
        background-color: var(--primary-color);
        border: 2px solid var(--secondary-color);
    }
    100% {
        color: var(--primary-color);
        background-color: var(--secondary-color);
        border: 2px solid var(--primary-color);
    }
}

@keyframes Reverse-Light {
    0% {
        color: var(--primary-color);     
        background-color: var(--secondary-color);
    }
    100% {
        color: var(--secondary-color);
        background-color: var(--primary-color);
    }
}

@keyframes Regular {
    0% {
        background-color: var(--secondary-color);
        color: var(--primary-color);     
    }
    100% {
        background-color: var(--primary-color);     
        color: var(--secondary-color);
    }
}

@keyframes Reverse-Regular {
    0% {
        background-color: var(--primary-color);     
        color: var(--secondary-color);
    }
    100% {
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
}

@keyframes Light_Input {
    0% {
        border: 1px solid var(--border-color)
    }
    100% {
        border: 1px solid var(--primary-color);
    }
}

@keyframes Light_Focus {
    0% {
        background-color: var(--focus-color);
        color: var(--secondary-color);
    }
    100% {
        background-color: var(--secondary-color);
        color: var(--focus-color);
    }
}

@keyframes Light_Blue {
    0% {
        background-color: var(--company-dark-color);
        color: var(--secondary-color);
    }
    100% {
        background-color: var(--secondary-color);
        color: var(--company-dark-color);
    }
}